<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="../css/home.css" rel="stylesheet" />

</head>
<body>
    <br />
    <br />
    <h1 style="color: antiquewhite">欢迎来到海航商务舱特价申请网</h1>
    <br />
    <h2 style="color: antiquewhite">点击上方Book a Ticket 并将表格填写完整</h2>
    <h2 style="color: antiquewhite">由于网站还在内测中， 当您申请后,请务必与Danna进行核实</h2>
    <h2 style="color: antiquewhite">谢谢，祝您订票愉快！！！</h2>


    <h3 style="color: #437DEA">主页仍在维护中 请不要吐槽 哈哈！！</h3>

    

    
</body>
</html>
