<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="../../js/tableExport.js"></script>
    <script src="../../js/jquery.base64.js"></script>

</head>
<body>
    

    <div>
        <h2 style="color:#D9EDF7">Summary Pages</h2>
    </div><!-- /.row -->


    <div class="col-lg-6">
        <div class="input-group">
            <input ng-model="customerSearch" type="text" class="form-control" placeholder="Type username you want to search...">
            <span class="input-group-btn">
                <button ng-click="searchCustomer()" class="btn btn-default" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->


    <div class="col-lg-6">
        <div class="input-group">
            <input ng-model="toSearch" type="text" class="form-control" placeholder="Type beijing or shanghai">
            <span class="input-group-btn">
                <button ng-click="searchTo()" class="btn btn-default" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->


            <table id="customers" class="table table-striped" border="1">
                <thead>

                    <tr class="info">
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Depart</th>
                        <th>Back</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Comments</th>
                        <th ng-show="showdelete">Delete this customer</th>
                    </tr>

                </thead>
                <tbody>
               
                    <tr class="warning" ng-repeat="customer in customers| filter: { firstname: targetuser  } | filter: { to: targetTo  }">
                        <td>{{customer.firstname}}</td>
                        <td>{{customer.lastname}}</td>
                        <td>{{customer.from}}</td>
                        <td>{{customer.to}}</td>
                        <td>{{customer.depart}}</td>
                        <td>{{customer.back}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.phone}}</td>
                        <td>{{customer.comments}}</td>
                        <td ng-show="showdelete" >
                            <button ng-click="remove(customer._id)"
                                    class="btn btn-danger"
                                    id="#">
                                Remove this customer
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>
      
    <button class="btn btn-danger" ng-click="showdelete=true">
        <span class="glyphicon glyphicon-trash"></span> Delete Mode
    </button>
    <button class="btn btn-info" ng-click="showdelete=false">
        <span class="glyphicon glyphicon-eye-open"></span> View Mode
    </button>
    <button class="btn btn-success" onClick="$('#customers').tableExport({type: 'excel', escape: 'false'});">
        <span class="glyphicon glyphicon-circle-arrow-down"></span> Export Excel File
    </button>


</body>
</html>
